html, body{
    height:100%;
    margin:0;
    padding:0;
    background-color: lightgray;
}

body{
    border: 10px solid lightgray;
}

.bodybox {
    border-top-left-radius: 25px;
    width: 100%;
    height:100%;
    background-color: white;
    padding: 20px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.dropdown {
    width: 80%;
}